on:
  #release:
  #  types:
  #    - published
  push:
    branches: [ main, automatic_pypi_publishing ]
    #tags:
    #    - 'v*'

name: release

jobs:
  pypi:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install build tools
        run: python -m pip install -U build

      - name: Build package
        run: python -m build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
            repository-url: https://test.pypi.org/legacy/